.skysection { 
    padding:0;
    margin:0;
    background: linear-gradient(to bottom,rgba(136, 221, 247, 0.911), rgba(36, 155, 252, 0.747) 30% 50%, rgba(252, 218, 106, 0.226) 99% 100%);
    width:100%;
    height:100%;

}

.container{
    width:80%;
    height:80%;
    margin:0;
    padding:0;
    position:absolute;
    top:23%;
    left:50%;
    transform: translate(-50%,-50%);
    
}